[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot

[submodule "awesome-copycats"]
	path = awesome-copycats
	url = https://github.com/xeon826/awesome-copycats/
    branch = master

[submodule "nvim"]
	path = nvim
	url = https://github.com/xeon826/neovim-config
  	branch = master
[submodule "Tokyonight-GTK-Theme"]
	path = Tokyonight-GTK-Theme
	url = https://github.com/Fausto-Korpsvart/Tokyonight-GTK-Theme
